
/* Стилизация кнопок */
button {
    padding: 0; /* Убираем внутренние отступы */
    width: 49%; /* Ширина кнопок чуть меньше половины контейнера, чтобы поместились две кнопки */
    height: 49%; /* Высота кнопок такая же, чтобы были квадратными */
    margin: 1%; /* Минимальный отступ для создания впечатления соприкосновения */
    border: none; /* Убираем границу */
    border-radius: 0; /* Убираем скругление углов */
}

@media (max-width: 767px) {
    button {
        width: 49%; /* Устанавливаем ширину для мобильных устройств */
        height: 49%; /* Устанавливаем высоту для мобильных устройств */
        margin: 1%; /* Минимальный отступ для мобильных устройств */
    }
}
