<!DOCTYPE html>
<html>
<head>
    <title>Действия персонала</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_pre_alpha.css') }}"> <!-- Ссылка на CSS -->
</head>
<body>
    <div id="staff-actions-container">
        <h2>Лог действий волшебников</h2>
        <label for="wizard-select">Выберите волшебника:</label>
        <select id="wizard-select" name="wizard">
            <option value="">--Выберите волшебника--</option>
            <!-- Опции будут добавлены динамически -->
        </select>
        <button onclick="loadTransactions()">Показать лог</button>
        <button onclick="exportTransactions()">Скачать лог в формате XLSX</button>

        <table id="transactions-log">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Факультет</th>
                    <th>Очки</th>
                    <th>Тип очков</th> <!-- Название на русском -->
                    <th>Отправитель</th>
                </tr>
            </thead>
            <tbody>
            <!-- Данные будут добавлены здесь -->
            </tbody>
        </table>
    </div>
    <script>
        const CUSTOM_HEADER_VALUE = "{{ custom_header_value }}";
    </script>
    <script src="{{ url_for('static', filename='scripts_pre_alpha_v1.0.js') }}"></script> <!-- Подключение JavaScript -->
</body>
</html>
